body {
  margin: 0;
  padding: 0;

  font-size:14px;
  font-weight: bold;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color:#000000;
  text-transform: uppercase;
  line-height: 24px;

  background-color: #f7f4f1;
  background-image: url("../img/background.png");
  background-position: top center;
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

.site-navigation,
.user-navigation,
.breadcrumbs {
  list-style: none;
}

.site-navigation a:hover,
.user-navigation a:hover {
  background-color: #242424;
}

.site-navigation a:focus,
.user-navigation a:focus {
  background-color: #242424;
}

.breadcrumbs a:hover,
.breadcrumbs  a:focus {
  text-decoration: underline;
}

.filter fieldset{
  border: none;
}

.list {
  list-style: none;
}

.page-title {
  font-size:30px;
  line-height: 42px;
  font-weight: bold;
  font-style: normal;
  font-family: "PT Sans Narrow";
  color:#000000;
  text-transform: uppercase;
}

.breadcrumbs {
  line-height: 20px;
}

.inner-page .breadcrumbs {
  line-height: 24px;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.filter-title {
  font-size: 24px;
  line-height: 30px;
}

.filter-input:hover + label {
  color: #663d15;
}

.filter-input:disabled + label{
  color: #000000;

  opacity: 0.5;
}

.filter-option label {
  line-height: 18px;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
}

.button:hover,
.button:focus,
.button:active {
  color: #ffffff;

  background-color: #663d15;
}

.catalog-item-price .button {
  font-size:14px;
  line-height: 18px;
}

.catalog-item-title {
  font-weight: bold;
  font-style: normal;
  font-family: "PT Sans Narrow";
  color:#000000;
  text-transform: uppercase;
  line-height: 18px;
}

.catalog-item {
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /*Не понятно откуда взялось это значение*/
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /*Не понятно откуда взялось это значение*/
}

.catalog-category {
  text-transform: none;
}

.catalog-item-price b {
  line-height: 18px;
  text-align: center;

  background-color: #e5e5e5;
}

.pagination-item a {
  line-height: 18px;
  color: #ffffff;

  background-color: #000000;
}
.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;

}

.inner-page h3 {
  font-size: 24px;
  line-height: 30px;
}

.product-photo-preview li {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    /*Не понятно откуда взялось это значение*/
}

.product-photo-full {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    /*Не понятно откуда взялось это значение*/
}

.product-article {
  text-align: right;
  color: #aeaeae;
}

.product-price b {
  text-align: center;

  background-color: #e5e5e5;
}

.main-footer {
  color: #ffffff;

  background-color: #242424;
  background-image: url("../img/background-footer.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-contacts a {

  text-decoration: underline;
}

.footer-social,
.footer-copyright {
  color: #ffffff;
  text-align: center;
}

.footer-copyright a {
    background-color: #000000;
}

.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
  color:#000000;

  background-color: #ffffff;
}

.modal {
  color: #000000;

  background-color: #f8f3f0;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}
